# Student Performance Indicator

#### Life cycle of Machine Learning Project

- Understanding the Problem Statement
- Data Collection
- Data checks to perform
- Exploratory Data Analysis
- Data Pre-Processing
- Model Training
- Choosing the Best Model

### 1) Problem Statement

- This project understands how the performance of students in exam (test scores) is affected by other variables such as Gender, race/ethinicity, Parental level of education, Type of lunch programme, Test preparation course and Scores in Math, reading and writting.

### 2) Data Collection

- Data Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- The Dataset consists of 8 features and 1000 data points.

### 2.1 Import required packages and Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('data/StudentsPerformance.csv')

### Show top 5 data

In [4]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Shape of the Dataset

In [6]:
df.shape

(1000, 8)

### 2.2 Dataset Information

- gender : sex of students  -> (Male/female)
- race/ethnicity : ethnicity of students -> (Group A, B,C, D,E)
- parental level of education : parents' final education ->(bachelor's degree,some college,master's degree,associate's degree,high school)
- lunch : having lunch before test (standard or free/reduced) 
- test preparation course : complete or not complete before test
- math score
- reading score
- writing score

### 3) Data checks to perform

- Check Missing Values
- Check Duplicates
- Check Datatypes
- Check number of unique values present in each column
- Check Statistics of the data
- Check number of categorical and numeric features present in the dataset
- Check various categories present in the different categorical variables